.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.left section{
    align-items:center;
    display: flex;
     
}
.hamburger-menu{
 height: 24px;
 margin-right: 20px;
 margin-left: 24px;
}
.youtube-logo{
 height: 20px;
}
.middle-section{
    flex: 1;
    margin-left: 75px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    justify-content: center;
}
.search-bar{
    flex: 1;
    width: 0px;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(152, 148, 148);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}  
.search-button{
    width:66px;
    height: 38px;
    background-color: rgb(239, 237, 237);
    border-color:rgb(152, 148, 148); 
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
    margin-right: 8px;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
   
}
.voice-search-button{
    height: 38px;
    width: 40px;
    border-radius:20px ;
    border: none;
    background-color: rgb(246, 246, 246);
}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;

}
.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0px;
}
.upload-icons{
    height: 24px;
}
.youtube-apps-icons{
    height: 24px;
}
.notifications-icons{
    height: 24px;
}
.my-channel-pictures{
    height: 32px;
    border-radius: 16px;
}

